:root, p, h3 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: center; */

    max-width: 800px;
    margin: auto;
   text-align: center;
}

section {
    text-align: left;
    
}

section:hover {
    background-color: rgb(181, 211, 143);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

h4 {
    margin-top: 0;
}

h2 {
    margin-bottom: 5px;
}

h3, h4 {
    font-size: 95%;
}